#book-card {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

#book-info {
    display: flex;
    flex-direction: column;
    /* margin-left: 4em; */
    width: 12em;
    /* background: linear-gradient(90deg, rgb(255, 255, 255) 60%, rgb(156, 153, 156)); */
    background: linear-gradient(90deg,
                rgb(255, 255, 255), 40%,
                rgb(156, 153, 156))
                /* rgb(68, 67, 67),40%) */
}

#book-info p {
    margin-top: -5px;
}

#book-card-image {
    width: 12em;
}

#card-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#past-books{
    margin-top: 200px;
}

#add-book-form{
    display: flex;
    flex-direction: column;
}