#past-books-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#past-books {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4em;
    text-align: center;
    /* background: linear-gradient(90deg, rgb(182, 255, 255), rgb(88, 175, 236)) */
}

/* #past-books > h4 {
    margin-left: 2em;
}

#past-books > p {
    margin-left: 2em;
} */

#past-header {
    font-size: 5em;
    margin: 0.5em 0 -1em 0;
    background: rgb(255,105,193);
    padding: 0 2em;
    border-radius: 2em;
    font-family: 'Poor Richard';
}

#edit-books-div {
    margin-top: 2em;
    margin-bottom: 5em;
}

.Dropdown-root {
    width: 25em;
    display: inline-block;
    font-size: 1.2em;
}

.Dropdown-menu {
    max-height: 31em;
    text-align: left;
}

#sorting-div {
    margin-top: 7em;
    margin-bottom: -10em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3em;
}