#home-page {
    height: 500px;
    background-image: url('https: //assets.puzzlefactory.com/puzzle/450/520/original.jpg');
}

#home-header {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

